<h3>Cart</h3>

@for(item of items; track $index) {
<div class="cart-item">
    <span>{{ item.name }}</span>
    <span>{{ item.price | currency }}</span>
</div>
}
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name"> Name </label>
        <input id="name" type="text" formControlName="name" />
    </div>

    <div>
        <label for="address"> Address </label>
        <input id="address" type="text" formControlName="address" />
    </div>

    <app-shipping [cost]="shipCtrl.value" (costChange)="shipCtrl.setValue($event)"></app-shipping>
    <!-- ALTERNATIVE TWO-WAY DATABIND TO SIGNAL <app-shipping [(cost)]="$shipCost" /> -->

    <button [disabled]="checkoutForm.invalid" class="button" type="submit">Purchase</button>
</form>
<!-- 
<pre>{{ checkoutForm.value | json }}</pre>
{{ shipCtrl.invalid }} -->
